on:
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Chechout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v2.5.2
        with:
          node-version: '18'
      - name: Project Setup
        run: npm install
      - name: Build
        run: npm run build
      - name: Upload
        uses: actions/upload-pages-artifact@v1.0.9
        with:
          name: github-pages
          path: dist/
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Github Pages
        uses: actions/deploy-pages@v2.0.2
        with:
          artifact_name: github-pages
        
